@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
    font-family: 'Roboto', sans-serif;
}
.cont {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(120deg, rgb(21, 10, 124), #160);
}
.centor {
position: absolute;
top: 35%;
left: 50%;
transform: translate(-50%);
width: 400px;
background: palegreen;
height: 350px;
border-radius: 10px;
box-shadow: 50px 50px 50px red;

}
.centor_hed {
    text-align: center;
    margin: 20px;
    border-bottom: 5px ;
}
.A {
    top: 50%;
left: 50%;
transform: translate(125px);
width: 150px;

}
.B {
  border-radius: 13px;
  margin: -15px 150px 5px;
 top: 50%;
 left: 50%;
 transform: translate(100px);
 width: 150px;
 background: rgb(11, 33, 226);
 height: 25px;
 border-radius: 50px;
}
.C {
    margin: -15px 0 20px 5px;
    top: 50%;
left: 50%;
transform: translate(115px);
width: 150px;
background: rgb(76, 78, 95);
}